<h1>Listado de Heroes</h1>
<hr>
<div class="row">
    <div class="col text-right">
        <button class="btn btn-primary" [routerLink]="['/heroe/nuevo']" routerLinkActive="router-link-active">
            <i class="mr-1 fa fa-plus">
            </i>
            Agregar
        </button>
    </div>
</div>
<hr>
<table *ngIf="cargando" class="table animate__aminated fadeIn">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Poder</th>
            <th scope="col">Estado</th>
            <th scope="col">Herramientas</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let heroe of heroes; let i = index;">
            <th scope="row">{{i+1}}</th>
            <td>{{heroe.nombre}}</td>
            <td>{{heroe.poder}}</td>
            <td>
                <label *ngIf="heroe.vivo" for="" class="badge badge-success m-1">Vivo</label>
                <label *ngIf="!heroe.vivo" for="" class="badge badge-danger m-1">Muerto</label>
            </td>
            <td>
                <button class="btn btn-info mr-1" [routerLink]="['/heroe', heroe.id]"
                    routerLinkActive="router-link-active"><i class="fa fa-pen"></i></button>
                <button class="btn btn-danger" (click)="deleteHeroe(heroe,i)"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="cargando" class="alert alert-info text-center mt-3 animate__aminated fadeIn" role="alert">
    <h4>Cargando...</h4>
    <p>
        <i class="fa fa-sync fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere por favor
    </p>
</div>

<div class="alert alert-warning text-center mt-3" role="alert">
    <h4>No hey registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>